upstream jenkins {
	server               localhost:8080;
}

map $http_upgrade $connection_upgrade {
	default              Upgrade;
	''                   close;
}

server {
	# SSL configuration
	listen 443 ssl;
	listen [::]:443 ssl;
	server_name jenkins.{{ search_domain }};

	include snippets/ssl-params.conf;
	ssl_certificate /etc/nginx/ssl/jenkins.crt;
	ssl_certificate_key /etc/nginx/ssl/jenkins.key;

	access_log          /var/log/nginx/jenkins/access.log;
	error_log           /var/log/nginx/jenkins/error.log;

	location / {
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-Proto $scheme;
		proxy_set_header X-Forwarded-Port $server_port;
		proxy_set_header X-Forwarded-For $remote_addr;
		proxy_pass http://jenkins;
		proxy_http_version 1.1;
		proxy_read_timeout 900s;
	}
}

server {
	listen              80;
	listen          	  [::]:80;
	server_name         jenkins.{{ search_domain }};

	return 301 https://jenkins.{{ search_domain }}$request_uri;
}