$TTL    604800 ; 1 week

@       IN      SOA     ns1.{{ search_domain }}. admin.{{ search_domain }}. (
              1         ; Serial
              604800     ; Refresh
              86400     ; Retry
              2419200     ; Expire
              86400 )   ; Negative Cache TTL

; name servers - NS records
                                                IN      NS      ns1.{{ search_domain }}.


; name servers - A records
                                                        A	    {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
ns1.{{ search_domain }}.                        IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}

; {{ interface_ipv4 | ipaddr('10') }} - A records
main.{{ search_domain }}.                       IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
www.{{ search_domain }}.                        IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
nfs.{{ search_domain }}.                        IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}

; Hosts - A records
eldir.{{ search_domain }}.                      IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
yggdrasil.{{ search_domain }}.                  IN      A       {{ interface_ipv4 | ipaddr('5') | ipaddr('address') }}
backup.{{ search_domain }}.                     IN      A       {{ interface_ipv4 | ipaddr('4') | ipaddr('address') }}


; {{ interface_ipv6 | ipaddr('10') }} - AAAA records
ns1.{{ search_domain }}.                        IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
main.{{ search_domain }}.                       IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
www.{{ search_domain }}.                        IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
nfs.{{ search_domain }}.                        IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}

; Hosts - AAAA records
eldir.{{ search_domain }}.                      IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
yggdrasil.{{ search_domain }}.                  IN      AAAA    {{ interface_ipv6 | ipaddr('5') | ipaddr('address') }}

; Applications IPv4
jenkins.{{ search_domain }}.                    IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
box.{{ search_domain }}.                        IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
zabbix.{{ search_domain }}.                     IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
portainer.{{ search_domain }}.                  IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
inventory.{{ search_domain }}.                  IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
git.{{ search_domain }}.                        IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
registry.{{ search_domain }}.                   IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
npm.{{ search_domain }}.                        IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
plantuml.{{ search_domain }}.                   IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
vault.{{ search_domain }}.                      IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
jira.{{ search_domain }}.                       IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
confluence.{{ search_domain }}.                 IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
javr-staging.{{ search_domain }}.               IN      A       {{ interface_ipv4 | ipaddr('32') | ipaddr('address') }}
sonarqube.{{ search_domain }}.                  IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
minio.{{ search_domain }}.                      IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
functions.{{ search_domain }}.                  IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
functionsui.{{ search_domain }}.                IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}
netbox.{{ search_domain }}.                     IN      A       {{ interface_ipv4 | ipaddr('10') | ipaddr('address') }}

; Applications IPv6
jenkins.{{ search_domain }}.                    IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
box.{{ search_domain }}.                        IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
zabbix.{{ search_domain }}.                     IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
portainer.{{ search_domain }}.                  IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
inventory.{{ search_domain }}.                  IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
git.{{ search_domain }}.                        IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
registry.{{ search_domain }}.                   IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
npm.{{ search_domain }}.                        IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
plantuml.{{ search_domain }}.                   IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
vault.{{ search_domain }}.                      IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
jira.{{ search_domain }}.                       IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
confluence.{{ search_domain }}.                 IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
javr-staging.{{ search_domain }}.               IN      AAAA    {{ interface_ipv6 | ipaddr('32') | ipaddr('address') }}
sonarqube.{{ search_domain }}.                  IN      AAAA    {{ interface_ipv6 | ipaddr('32') | ipaddr('address') }}
minio.{{ search_domain }}.                      IN      AAAA    {{ interface_ipv6 | ipaddr('32') | ipaddr('address') }}
functions.{{ search_domain }}.                  IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
functionsui.{{ search_domain }}.                IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}
netbox.{{ search_domain }}.                     IN      AAAA    {{ interface_ipv6 | ipaddr('10') | ipaddr('address') }}

; VM
odin.{{ search_domain }}.                       IN      A       {{ interface_ipv4 | ipaddr('1') | ipaddr('address') }}
javr.{{ search_domain }}.                       IN      A       {{ interface_ipv4 | ipaddr('30') | ipaddr('address') }}
jenkins-worker.{{ search_domain }}.             IN      A       {{ interface_ipv4 | ipaddr('31') | ipaddr('address') }}
staging.{{ search_domain }}.                    IN      A       {{ interface_ipv4 | ipaddr('32') | ipaddr('address') }}
openvas.{{ search_domain }}.                    IN      A       {{ interface_ipv4 | ipaddr('33') | ipaddr('address') }}
