$TTL    604800
@       IN      SOA     {{ search_domain }}. admin.{{ search_domain }}. (
                              1         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         86400 )       ; Negative Cache TTL
; name servers - NS records
                                                                                    NS      ns1.{{ search_domain }}.

; PTR Records
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     ns1.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     main.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     www.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     nfs.{{ search_domain }}.

; Hosts
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     eldir.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('5') | ipaddr('address') | ipaddr('revdns') }}    IN     PTR     yggdrasil.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('4') | ipaddr('address') | ipaddr('revdns') }}    IN     PTR     backup.{{ search_domain }}.

; Applications IPv6
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     jenkins.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     box.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     zabbix.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     inventory.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     git.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     registry.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     portainer.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     plantuml.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     npm.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     vault.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     jira.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     confluence.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('32') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     javr-staging.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     sonarqube.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     minio.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     functions.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     functionsui.{{ search_domain }}.
{{ interface_ipv6 | ipaddr('10') | ipaddr('address') | ipaddr('revdns') }}   IN     PTR     netbox.{{ search_domain }}.
