/images/    *(insecure,no_subtree_check,rw,no_root_squash,no_all_squash,crossmnt,async)
/ISO/       *(insecure,no_subtree_check,rw,no_root_squash,no_all_squash,crossmnt,async)
/tools/     *(insecure,no_subtree_check,rw,no_root_squash,no_all_squash,crossmnt,async)
/storage/   *(insecure,no_subtree_check,rw,no_root_squash,no_all_squash,crossmnt,async)
/tools/     *(insecure,no_subtree_check,rw,no_root_squash,no_all_squash,crossmnt,async)
/temp/      *(insecure,no_subtree_check,rw,no_root_squash,no_all_squash,crossmnt,async)
